<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" formControlName="rentalStart" />
  </div>

  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" formControlName="rentalEnd" />
  </div>

  <div class="form-group">
    <label for="dropdown">Client:</label>
    <select id="dropdown" formControlName="clientId">
      <option value="">--Select an option--</option>
      @for (option of dropdownOptions; track option) {
      <option [value]="option.value">
        {{ option.label }}
      </option>
      }
    </select>
  </div>

  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
